<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
    <h2>{f:translate(key: 'activateUser.heading', extensionName: 'fe_useradd')}</h2>

    <f:form action="setPassword" controller="User" object="{passwordInput}" name="passwordInput">
        <table>
            <tr>
                <td>{f:translate(key: 'activateUser.password', extensionName: 'fe_useradd')}</td>
                <td>
                    <f:form.password property="inputOne" size="30"></f:form.password>
                </td>
            </tr>
            <tr>
                <td>{f:translate(key: 'activateUser.repeatPassword', extensionName: 'fe_useradd')}</td>
                <td>
                    <f:form.password property="inputTwo" size="30" ></f:form.password>
                </td>
            </tr>
        </table>
        <f:form.hidden property="oldPassword" value="{password}" />
        <f:form.hidden property="email" value="{email}" />

        <f:form.button>{f:translate(key: 'activateUser.setPassword', extensionName: 'fe_useradd')}</f:form.button>
    </f:form>
</div>
