<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
    <h2>New Frontend User</h2>

    <f:form action="setPassword" controller="User" name="passwordInput">
        <table>
            <tr>
                <td>first name:</td>
                <td>
                    <f:form.password property="inputOne" size="30"></f:form.password>
                </td>
            </tr>
            <tr>
                <td>last name:</td>
                <td>
                    <f:form.password property="inputTwo" size="30" ></f:form.password>
                </td>
            </tr>
        </table>

        <f:form.button>Set password</f:form.button>
    </f:form>
</div>