<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<!--
	=====================
		User/AddUser.html
-->

<f:section name="Main">
    <f:if condition="{f:translate(key: 'heading', extensionName: 'fe_useradd')}">
        <h2>{f:translate(key: 'heading', extensionName: 'fe_useradd')}</h2>
    </f:if>
    <f:form action="submitUser" controller="User" object="{feUser}" name="feUser">
        <f:if condition="{f:translate(key: 'description', extensionName: 'fe_useradd')}">
            <legend>{f:translate(key: 'description', extensionName: 'fe_useradd')}</legend>
        </f:if>
        <div class="form-group">
            <label for="firstName">{f:translate(key: 'label.first-name', extensionName: 'fe_useradd')}</label>
            <f:form.textfield id="firstName" property="firstName" size="30"/>
        </div>
        <div class="form-group">
            <label for="firstName">{f:translate(key: 'label.last-name', extensionName: 'fe_useradd')}</label>
            <f:form.textfield id="lastName" property="lastName" size="30" />
        </div>
        <div class="form-group">
            <label for="email">{f:translate(key: 'label.email', extensionName: 'fe_useradd')}</label>
            <f:form.textfield id="email" type="email" property="lastName" size="30" />
        </div>
        <div class="form-group">
            <label for="company">{f:translate(key: 'label.company', extensionName: 'fe_useradd')}</label>
            <f:form.textfield id="company" property="company" size="30" />
        </div>
        <div class="form-group">
            <label for="position">{f:translate(key: 'label.position', extensionName: 'fe_useradd')}</label>
            <f:form.textfield id="position" property="position" size="30" />
        </div>
        <f:form.button class="btn btn-default">{f:translate(key: 'label.submit', extensionName: 'fe_useradd')}</f:form.button>
    </f:form>
</f:section>
</div>
