<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<!--
	=====================
		User/AddUser.html
-->

<f:section name="Main">
    <v:variable.set name="genderValueMr" value="{f:translate(key: 'gender.mr', extensionName: 'fe_useradd')}" />
    <v:variable.set name="genderValueMs" value="{f:translate(key: 'gender.ms', extensionName: 'fe_useradd')}" />
    <f:if condition="{f:translate(key: 'heading', extensionName: 'fe_useradd')}">
        <h2>{f:translate(key: 'heading', extensionName: 'fe_useradd')}</h2>
    </f:if>
    <f:form action="submitUser" controller="User" object="{feUser}" name="feUser">

        <f:form.validationResults>
            <f:if condition="{validationResults.flattenedErrors}">
                <ul class="errors">
                    <f:for each="{validationResults.flattenedErrors}" as="errors" key="propertyPath">
                        <f:switch expression="{propertyPath}">
                            <f:case value="feUser.firstName"><v:variable.set name="error-firstName" value="has-error" /></f:case>
                            <f:case value="feUser.lastName"><v:variable.set name="error-lastName" value="has-error" /></f:case>
                            <f:case value="feUser.email"><v:variable.set name="error-email" value="has-error" /></f:case>
                            <f:case value="feUser.company"><v:variable.set name="error-company" value="has-error" /></f:case>
                            <f:case value="feUser.position"><v:variable.set name="error-position" value="has-error" /></f:case>
                        </f:switch>
                        <f:comment>Error Message List:
                            <li>{propertyPath}
                                <ul>
                                    <f:for each="{errors}" as="error">
                                        <li>{error.code}: {error}</li>
                                    </f:for>
                                </ul>
                            </li>
                        </f:comment>
                    </f:for>
                </ul>
            </f:if>
        </f:form.validationResults>

        <f:if condition="{f:translate(key: 'description', extensionName: 'fe_useradd')}">
            <legend>{f:translate(key: 'description', extensionName: 'fe_useradd')}</legend>
        </f:if>
        <div class="form-group {error-title}">
            <label for="title">{f:translate(key: 'label.title', extensionName: 'fe_useradd')}</label>
            <f:form.select id="title" class="form-control" errorClass="has-error" property="title"  options="{titleOptions}"/>
            <f:form.validationResults for="feUser.title">
                <f:if condition="{validationResults.flattenedErrors}">
                    <ul class="errors">
                        <f:for each="{validationResults.errors}" as="error">
                            <li>{error}</li>
                        </f:for>
                    </ul>
                </f:if>
            </f:form.validationResults>
        </div>
        <div class="form-group {error-gender}">
            <label for="gender">{f:translate(key: 'label.gender', extensionName: 'fe_useradd')}</label>
            <f:form.select id="gender" class="form-control" errorClass="has-error"
                           property="gender"
                           options="{m: '{genderValueMr}',
                                    f: '{genderValueMs}'}"/>
            <f:form.validationResults for="feUser.gender">
                <f:if condition="{validationResults.flattenedErrors}">
                    <ul class="errors">
                        <f:for each="{validationResults.errors}" as="error">
                            <li>{error}</li>
                        </f:for>
                    </ul>
                </f:if>
            </f:form.validationResults>
        </div>
        <div class="form-group {error-firstName}">
            <label for="firstName">{f:translate(key: 'label.first-name', extensionName: 'fe_useradd')}</label>
            <f:form.textfield id="firstName" class="form-control" errorClass="has-error" property="firstName" size="30"/>
            <f:form.validationResults for="feUser.firstName">
                <f:if condition="{validationResults.flattenedErrors}">
                    <ul class="errors">
                        <f:for each="{validationResults.errors}" as="error">
                            <li>{error}</li>
                        </f:for>
                    </ul>
                </f:if>
            </f:form.validationResults>
        </div>
        <div class="form-group {error-lastName}">
            <label for="lastName">{f:translate(key: 'label.last-name', extensionName: 'fe_useradd')}</label>
            <f:form.textfield id="lastName" class="form-control" errorClass="has-error" property="lastName" size="30" />
            <f:form.validationResults for="feUser.lastName">
                <f:if condition="{validationResults.flattenedErrors}">
                    <ul class="errors">
                        <f:for each="{validationResults.errors}" as="error">
                            <li>{error}</li>
                        </f:for>
                    </ul>
                </f:if>
            </f:form.validationResults>
        </div>
        <div class="form-group {error-email}">
            <label for="email">{f:translate(key: 'label.email', extensionName: 'fe_useradd')}</label>
            <f:form.textfield id="email" class="form-control" errorClass="has-error" property="email" size="30" />
            <f:form.validationResults for="feUser.email">
                <f:if condition="{validationResults.flattenedErrors}">
                    <ul class="errors">
                        <f:for each="{validationResults.errors}" as="error">
                            <li>{error}</li>
                        </f:for>
                    </ul>
                </f:if>
            </f:form.validationResults>
        </div>
        <div class="form-group {error-company}">
            <label for="company">{f:translate(key: 'label.company', extensionName: 'fe_useradd')}</label>
            <f:form.textfield id="company" class="form-control" errorClass="has-error" property="company" size="30" />
            <f:form.validationResults for="feUser.company">
                <f:if condition="{validationResults.flattenedErrors}">
                    <ul class="errors">
                        <f:for each="{validationResults.errors}" as="error">
                            <li>{error}</li>
                        </f:for>
                    </ul>
                </f:if>
            </f:form.validationResults>
        </div>
        <div class="form-group {error-position}">
            <label for="position">{f:translate(key: 'label.position', extensionName: 'fe_useradd')}</label>
            <f:form.textfield id="position" class="form-control" errorClass="has-error" property="position" size="30" />
            <f:form.validationResults for="feUser.position">
                <f:if condition="{validationResults.flattenedErrors}">
                    <ul class="errors">
                        <f:for each="{validationResults.errors}" as="error">
                            <li>{error}</li>
                        </f:for>
                    </ul>
                </f:if>
            </f:form.validationResults>
        </div>
        <f:form.button class="btn btn-default">{f:translate(key: 'label.submit', extensionName: 'fe_useradd')}</f:form.button>
    </f:form>
</f:section>
</div>
