<div xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <h2>Allowed Frontend User</h2>

        <table>
            <tr>
                <td>first name:</td>
                <td>
                    {feUser.firstName}
                </td>
            </tr>
            <tr>
                <td>last name:</td>
                <td>
                    {feUser.lastName}
                </td>
            </tr>
            <tr>
                <td>e-mail:</td>
                <td>
                    {feUser.email}
                </td>
            </tr>
            <tr>
                <td>company:</td>
                <td>
                    {feUser.company}
                </td>
            </tr>
            <tr>
                <td>position:</td>
                <td>
                    {feUser.position}
                </td>
            </tr>
            <tr>
                <td>groups:</td>
                <td>
                    <f:for each="{feUser.feGroups}" as="group">
                        {group.title}
                    </f:for>
                </td>
            </tr>
        </table>
</div>